#dice-value-history-component {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: baseline;
  justify-content: center;
}

.dice-history-one {
  padding: 5px;
}